.header {
  border-style: solid;
  margin: 8px;
  padding: 5px;
}
#navBox {
  background-color: gray;
  border-style: solid;
}
.navButton {
  text-align: center;
  border-style: solid;
  margin-top: 7px;
}
.navButton:hover {
  background-color: lightslategray;
  color: aliceblue;
}
#footer {
  text-align: center;
  border: solid;
  text-decoration: underline;
}
.Image {
  width: 100%;
  border: solid;
}
.bullet {
  list-style-type: none;
}
.bgBlue {
  background-color: lightblue;
}
.bgWhite {
  background-color: white;
}
.borderSolid {
  border-style: solid;
  border-color: black;
}
/*the border is there but it isn't changing colors D:*/
.homeH2 {
  border-bottom: solid;
}
.underline {
  text-decoration: underline;
}
.centerDiv {
  text-align: center;
  align-items: center;
}
.padding {
  padding: 3%;
}
.block {
  display: block;
}
.dropdown {
  background-color: lightpink;
  width: 100%;
}
.dropList {
  background-color: whitesmoke;
  display: none;
  width: 100%;
  left: 100%;
  top: 1%;
  position: absolute;
  border: solid;
}
.dropListR {
  background-color: whitesmoke;
  display: none;
  width: 100%;
  right: 100%;
  top: 0%;
  position: absolute;
  border: solid;
}
.dropButton {
  background-color: lightblue;
  width: 100%;
}

.dropButton:hover {
  background-color: lightslategray;
}
.dropdown:hover .dropList {
  display: block;
}
.dropdown:hover .dropListR {
  display: block;
}
.dropLabel {
  width: 100%;
}
.dropLabel:hover {
  background-color: grey;
}
.chart {
  min-height: 350px;
  min-width: 100%;
}
a {
  text-decoration: none;
  color: black;
}

.selecto:hover {
  background-color: lightslategray;
  color: aliceblue;
}
